body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
img {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
   
}
.logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-right: 76px;
}

.web {
    color: #4d5ae5;
}
.studiohead {
    color: #2e2f42;
}
.navilinks{
text-decoration: none;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
}

.navilinks.line{
    position: relative;
color: #404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.navilinks:hover, .navilinks:focus {
    color: #404bbf;
}

.navilinks.line::after {
content: '';
position: absolute;
display: block;
width: 100%;
height: 4px;
bottom: 0;
background-color: #404BBF;
border-radius: 2px;
bottom: -1px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.adres {
    font-style: normal;
    margin-left: auto;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-container {
  display: flex;  
  align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
    gap: 40px;
}
.adres-list {
    display: flex;
    gap: 40px;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.contacts {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-decoration: none;
font-style: normal;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover, .contacts:focus {
    color: #404bbf;
}

.banner {
    background-color: #2E2F42;
    text-align: center;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}
.banner-container {
    width: 1440px;
}

.bannerhead {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    
}
.buttonblue {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    border-radius: 4px;
    border: none;
    height: 56px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttonblue:hover, .buttonblue:focus {
    background-color: #404BBF;
}
.feature-section {
    padding: 120px 0;
   
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.features {
font-family: "Roboto", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-align: left;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.feature-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
}
.featurecontent {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.02em;
}
.features-list {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}
.feature-item {
width: calc((100% - 72px) / 4);
}

.team-container{
    display: column;
    align-items: center;
}
.teamhead {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.teamsection {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}
.container-nameprof {
    padding: 32px 0;

}
.teamname {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.teamprof {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.teammate-list {
background-color: #ffffff; 
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.icon-team-link {
    border-radius: 50%;
    fill: #ffffff;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team-social {
    fill: #f4f4fd;
}

.icon-team-link:hover, .icon-team-link:focus{
    background-color: #404bbf;
}



.icon-team-list {
    display: flex;
    gap: 24px;
    width: 232px;
    height: 40px;
    justify-content: center;
    margin: 8px 16px 0 16px;
}


.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-item-image {
    position: relative;
    overflow: hidden;

}
.typetitle {
font-family: "Roboto", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-align: left;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.container-proftitle {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.typeprof {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
text-align: left;
letter-spacing: 0.02em;
}
.overlay {
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
background-color: #4d5ae5;
width: 100%;
height: 100%;
position: absolute;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 40px 32px;
top: 0;
}

.overlay-hidden {
    position: relative;
    overflow: hidden;
}
.footerstyles {
    background-color: #2E2F42;
    padding: 100px 0;
}
.studiofoo {
    color: #f4f4fd;
}
.textfoot {
color: #F4F4FD;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
letter-spacing: 0.02em;
max-width: 264px;
}

.logofooter {
    display: inline-block; 
    margin-bottom: 16px;
}

.footer-social-par {
    font-weight: 500;
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}

.icon-footer-list {
    display: flex;
    gap: 16px;
    width: 208px;
    height: 40px;
    justify-content: center;   
}

.icon-footer-link {
    border-radius: 50%;
    fill: #ffffff;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer-social {
    fill: #f4f4fd;
}
.footer-container {
    display: flex;
    align-items: baseline;
    }
    .logofooter-container {
        margin-right: 120px;
    }
    .icon-footer-link:hover, .icon-footer-link:focus{
        background-color: #31d0aa;
        background-color: #31d0aa;
    }
  
    .subscribe-text {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
    }
    .footer-form-container {
        margin-left: 80px;
    }
    .footer-subscribe-form {
        display: flex;
        gap: 24px;
    }
    .icon-footer-sendpict {
        fill: #f4f4fd;
        margin-left: 16px;
    }
    .footer-subscribe-label {
        gap: 24px;
    }
    .subscribe-footer-text {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #ffffff;
    }
    .subscribe-btn {
    border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border: none;
    }

    .backdrop {
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        position: fixed;
        top: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
    .modal {
        position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.modal-close {
    position: absolute;
    top: 24px;
    width: 24px;
    right: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    fill: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
}
.modal-close:hover {
    background-color: #404bbf;
    border: none;
}
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}
.modal-title {
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}
.icon-modal-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}
.modal-close:hover .icon-modal-close {
    fill: #ffffff
}
.modal-close:focus .icon-modal-close {
    fill: #ffffff
}
.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-input:focus {
border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;   
}

.modal-btn {
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
display: block;
margin: 0 auto;
cursor: pointer;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
display: block;
}

.modal-field {
    margin-bottom: 8px;
}
.modal-field-wrap {
    position: relative;
}
.modal-field-comment {
    margin-bottom: 16px
}

.modal-icon {
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
background-color: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
    border-color: #4D5AE5;
}

.modal-text-policy {
    font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;
}

.priv-pol {
    color: #4d5ae5;  
}
.modal-check-feild {
    margin-bottom: 24px;
}

.checkbox-span-icon {
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
}

.modal-check:checked + .modal-text-policy span {
    background-color: #404bbf;
    border: none;
    fill:#F4F4FD;
}
